CONFIG_ARM=y
CONFIG_TARGET_ARMEVB1=y

CONFIG_TEXT_BASE=0
CONFIG_SYS_CLK_FREQ=25000000

CONFIG_SYS_MALLOC_LEN=0x6000
CONFIG_SYS_LOAD_ADDR=0x100
# CONFIG_SYS_ARM_MMU is not set
# CONFIG_SYS_ARM_CACHE_CP15 is not set
# CONFIG_DISPLAY_CPUINFO is not set

CONFIG_ENV_IS_IN_FLASH=y
CONFIG_ENV_ADDR=0x04020000
CONFIG_ENV_SECT_SIZE=0x10000
CONFIG_ENV_SIZE=0x1000
CONFIG_SYS_MAX_FLASH_SECT=8

CONFIG_DEBUG_UART=y

CONFIG_MTD_NOR_FLASH=y
# CONFIG_BLOCK_CACHE is not set
# CONFIG_NET is not set
# CONFIG_MMC is not set

# CONFIG_CMD_ELF is not set
