CONFIG_ARM=y
CONFIG_TARGET_EVB4510=y
# CONFIG_PLATFORM_EVALUATOR7T is not set
CONFIG_PLATFORM_NETSTART=y
# CONFIG_MONITOR_IS_IN_RAM is not set

CONFIG_TEXT_BASE=0
CONFIG_SYS_CLK_FREQ=50000000
CONFIG_SYS_LOAD_ADDR=0x100
# CONFIG_SYS_ARM_MMU is not set
# CONFIG_SYS_ARM_CACHE_CP15 is not set
# CONFIG_DISPLAY_CPUINFO is not set

CONFIG_ENV_SIZE=0x1000
CONFIG_ENV_IS_IN_FLASH=y
CONFIG_ENV_ADDR=0x05020000
CONFIG_SYS_MAX_FLASH_SECT=35
CONFIG_ENV_SECT_SIZE=0x10000

CONFIG_SPECIFY_CONSOLE_INDEX=y
CONFIG_CONS_INDEX=1
CONFIG_DEBUG_UART=y

CONFIG_MTD_NOR_FLASH=y
# CONFIG_BLOCK_CACHE is not set
# CONFIG_NET is not set
# CONFIG_MMC is not set

CONFIG_FS_CRAMFS=y

CONFIG_CMD_CRAMFS=y
# CONFIG_CMD_ELF is not set
CONFIG_CMD_MEMTEST=y
